In [1]:
import numpy as np
import pandas as pd
datos = pd.read_csv('C:/Users/Alvaro/Documents/GitHub/r-basic_Rstudio/data/run.csv')

In [2]:
datos = pd.read_csv('C:/Users/Alvaro/Documents/GitHub/r-basic_Rstudio/data/run.csv')

In [3]:
datos.head()

,Unnamed: 0,pulso.antes,pulso.despues,hace.deporte,fuma,genero,altura,peso,tipo.actividad
0,1,48,54,no,si,H,68.0,150,nula
1,2,54,56,no,si,H,69.0,145,moderada
2,3,54,50,no,no,H,69.0,160,moderada
3,4,58,70,si,no,H,72.0,145,moderada
4,5,58,58,no,no,H,66.0,135,intensa

Indica cuantos estudiantes formaron parte del estudio de deporte

In [5]:
datos.shape

(92, 9)

In [10]:
datos.describe()

       Unnamed: 0  pulso.antes  pulso.despues     altura        peso
count    92.00000    92.000000      92.000000  92.000000   92.000000
mean     46.50000    72.869565      80.000000  68.717391  145.152174
std      26.70206    11.008705      17.093794   3.659291   23.739398
min       1.00000    48.000000      50.000000  61.000000   95.000000
25%      23.75000    64.000000      68.000000  66.000000  125.000000
50%      46.50000    71.000000      76.000000  69.000000  145.000000
75%      69.25000    80.000000      85.000000  72.000000  155.500000
max      92.00000   100.000000     140.000000  75.000000  215.000000

In [11]:
hombres = datos[datos.genero=='H']
mujeres = datos[datos.genero!='H']

In [12]:
mujeres.shape

(35, 9)

In [13]:
hombres.shape

(57, 9)

Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio y compara el valor de los que hacen ejercicio habitualmente y los que no. ¿Observas mucha diferencia?

In [26]:
datos['variacion'] = datos['pulso.despues'] - datos['pulso.antes']

In [27]:
datos['variacion'].mean()

7.130434782608695

In [28]:
datos.groupby(datos['hace.deporte']).mean()

,Unnamed: 0,pulso.antes,pulso.despues,altura,peso,variacion
hace.deporte,,,,,,
no,47.017544,72.421053,72.315789,68.065789,141.122807,-0.105263
si,45.657143,73.600000,92.514286,69.778571,151.714286,18.914286

Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio  para los estudiantes que hacen ejercicio habitualmente y compara el valor de los hombres con el de las mujeres. ¿Observas mucha diferencia?

In [38]:
datos.groupby([datos['hace.deporte'], datos['genero']]).mean()

                     Unnamed: 0  pulso.antes  pulso.despues     altura  \
hace.deporte genero
no           H        40.666667    70.421053      75.877193  70.754386
             M        56.000000    76.857143      86.714286  65.400000

                           peso  variacion
hace.deporte genero
no           H       158.263158   5.456140
             M       123.800000   9.857143

Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio para los estudiantes que no hacen ejercicio habitualmente y compara el valor de los fumadores con los no fumadores. ¿Observas mucha diferencia?

In [37]:
datos.groupby([datos['hace.deporte'], datos['fuma']]).mean()

                   Unnamed: 0  pulso.antes  pulso.despues     altura  \
hace.deporte fuma
no           no         44.75      71.9375      79.484375  68.582031
             si         50.50      75.0000      81.178571  69.026786

                         peso  variacion
hace.deporte fuma
no           no    142.031250   7.546875
             si    152.285714   6.178571

Calcula el porcentaje medio de variación del pulso por minuto entre antes y después de hacer ejercicio de todos los estudiantes según el tipo de actividad física que realizan. ¿Observas alguna diferencia?

In [39]:
datos.groupby(datos['tipo.actividad']).mean()

,Unnamed: 0,pulso.antes,pulso.despues,altura,peso,variacion
tipo.actividad,,,,,,
intensa,43.285714,71.571429,72.190476,69.571429,147.285714,0.619048
moderada,45.934426,72.737705,82.786885,68.377049,143.754098,10.049180
nula,1.000000,48.000000,54.000000,68.000000,150.000000,6.000000
suave,62.888889,79.555556,82.222222,69.111111,149.111111,2.666667